#servicios{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: lighten($color02, 40);
    @include desktop{
        @include grid(2,0,0);
    }
}
#catalogo{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - (8vh + 5vh));
    overflow-y: scroll;
    scrollbar-width: thin;
    @include desktop{
        width: 100%;
        height: 100vh;
    }
    .servicio{
        border: .25rem solid $color02;
        border-radius: 2rem;
        margin: 1rem auto;
        width: 90%;
        padding: 1rem;
        transition: border .25s ease;
        text-align: center;
        color: $color02;
        p{
            line-height: 1.5;
        }
        &:hover{
            border-width: 1rem;
            cursor: pointer;
        }
        &.selected{
            border-width: 1rem;
            p{
                font-weight: 700;
            }
        }
    }
}
#apoyo{
    @include desktop{
        background-image: url(../img/Barber-pana.webp);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $blanco;
    }    
    img{
        display: none;
        @include desktop{
            display: block;
            max-width: 95%;
            height: auto;
        }
    }
    .btn-confirmarServicio{
        display: block;
        position: relative;
        border: none;
        width: 100vw;
        height: 8vh;
        margin-top: 5vh;
        background-color: $color01;
        color: $blanco;
        cursor: pointer;
        @include desktop{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        &::after{
            content: 'Ir a Reservar Turno';
            position: absolute;
            top: -5vh;
            left: 0;
            width: 100%;
            height: 5vh;
            line-height: 5vh;
            color: $blanco;
            background-color: darken($color01,20);
        }
    }
    .btn-apagado{
        display: block;
        &::after{
            content: 'Seleccione un Servicio';
            width: 100%;
            height: 13vh;
            line-height: 13vh;
            font-weight: 700;
            background-color: lighten($color02, 30);
        }
    }
}